services:
  converter-service:
    build: ./converter_service
    container_name: cad-converter-service
    ports:
      - "8001:8001"
    volumes:
      - converter_temp:/tmp
    environment:
      - LOG_LEVEL=INFO
      - LOG_FORMAT=%(asctime)s | %(name)-20s | %(levelname)-8s | %(message)s
    restart: unless-stopped

  embedding-service:
    build: ./embedding_service
    container_name: cad-embedding-service
    ports:
      - "8002:8001"
    volumes:
      - embedding_temp:/tmp
    environment:
      - LOG_LEVEL=INFO
      - LOG_FORMAT=%(asctime)s | %(name)-20s | %(levelname)-8s | %(message)s
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: unless-stopped

  analyser-service:
    build: ./analyser_service
    container_name: cad-analyser-service
    ports:
      - "8003:8002"
    volumes:
      - analyser_temp:/tmp
    environment:
      - LOG_LEVEL=INFO
      - LOG_FORMAT=%(asctime)s | %(name)-20s | %(levelname)-8s | %(message)s
    restart: unless-stopped

volumes:
  converter_temp:
  embedding_temp:
  analyser_temp: